/*  your css code here. If applicable */
h1 {
	text-align: center;
}
p {
	font-weight: bold;
	 font-size: x-large;
	text-decoration: underline;
	color: blue;
}
u {
	font-size: 20px;
	color: blue;
}


